<!DOCTYPE html>
<html>
    <head>
        <title>sass</title>
        <link href="/fonts/stylesheet.css" type="text/css" rel="stylesheet"/>
        <link href="/fonts/mulish/stylesheet.css" type="text/css" rel="stylesheet"/>
        <link href="/fonts/frank ruhl libre/stylesheet.css" type="text/css" rel="stylesheet"/>
        <link href="/fonts/remixicon.css" type="text/css" rel="stylesheet"/>
        <link href="/css/all.min.css" type="text/css" rel="stylesheet"/>
        <link href="/fonts/vietnam/stylesheet.css" type="text/css" rel="stylesheet"/>
        <link href="/css/sass.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
         <!--header-start-->
         <header>
            <div class="container">
                <div class="d-flex justify-between header-1 align-center">
                    <div class="number">
                        <a href="#">+953 012 3654 896</a>
                        <a href="#">support@colorlib.com</a>
                    </div>
                    <ul class="d-flex icon align-center">
                        <li><a href="#"><i class="ri-facebook-fill"></i></li></a>
                        <li><a href="#"><i class="ri-twitter-fill"></i></li></a>
                        <li><a href="#"><i class="ri-dribbble-line"></i></li></a>
                        <li><a href="#"><i class="ri-behance-fill"></i></li></a>
                    </ul>
                </div>
                <div class="d-flex justify-between header-2 align-center">
                    <div class="logo">
                        <a href="#"><img src="/images/logo.webp" alt="logo"></a>
                    </div>
                    <nav>
                        <div class="d-flex">
                            <ul class="d-flex">
                                <li><a href="#">HOME</a></li>
                                <li><a href="#">ABOUT</a></li>
                                <li><a href="#">SERVICES</a></li>
                                <li><a href="#">PROJECTS</a></li>
                                <li class="dropdown">
                                    <a href="#">BLOG<i class="ri-arrow-down-s-line"></i></a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            <li><a href="#">Blog Home</a></li>
                                            <li><a href="#">Blog Single</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-1"> 
                                    <a href="#">PAGES<i class="ri-arrow-down-s-line"></i></a>
                                    <div class="dropdown-menu-1">
                                        <ul>
                                            <li><a href="#">Project Details</a></li>
                                            <li><a href="#">Elements</a></li>
                                            <li class="submenu">
                                                <a href="#" class="d-flex align-center justify-between">Level 2<i class="ri-arrow-right-s-line"></i></a>
                                                <div class="sub-menu">
                                                    <ul>
                                                        <li><a href="#">Item One</a></li>
                                                        <li><a href="#">Item Two</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="#">CONTACT</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!--header-end-->
        <!--banner-start-->
        <main>
            <section class="banner d-flex align-center justify-center">
                <div class="banner-contant">
                    <h1>Precise concept design</h1>
                    <h1>for stylish living</h1>
                    <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                         You may see</p>
                    <p>some for as low as $.17 each. You may be saying to yourself.</p>
                    <div class="d-flex justify-center">
                        <div class="btn">
                            <a href="#">GET STARTED</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--banner-end-->
        <!--client-start-->
        <main>
            <section class="client">
                <div class="container">
                    <div class="row justify-center">
                        <div class="client-title text-center">
                            <h2>What we offer to our clients</h2>
                            <p>Who are in extremely love with eco friendly system..</p>
                        </div>
                        <div class="row text-center justify-center">
                            <div class="w-3">
                                <div class="client-content">
                                    <a href="#">Interior Design</a>
                                    <p>
                                        Sony laptops are among the most well known laptops 
                                        on today’s market. Sony is a name that over time has
                                        established itself as creating a solid product.
                                    </p>
                                </div>
                            </div>
                            <div class="w-3">
                                <div class="client-content">
                                    <a href="#">Architecture Design</a>
                                    <p class="cilent-content-2">
                                        Computer users and programmers have become so 
                                        accustomed to using Windows, even for the changing 
                                        capabilities and the appearances of the graphical.
                                    </p>
                                </div>
                            </div>
                            <div class="w-3">
                                <div class="client-content">
                                    <a href="#">Concept Design</a>
                                  <p>
                                    Can you imagine what we will be downloading in another
                                     twenty years? I mean who would have ever thought that 
                                     you could record sound.
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--client-end-->
        <!--gallery-start-->
        <main>
            <div class="container">
                <section class="gallery">
                    <div class="gallery-title text-center">
                        <h2>Our Recent Works may impress you</h2>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                    <div class="row">
                        <div class="w-65">
                            <div class="gallery-item">
                                <div class="gallery-image">
                                    <img src="/images/g1.jpg" alt="gallery-1" width="100%">
                                    <div class="overlay">
                                        <div class="overlay-content text-center">
                                            <h4>Lavendar ambient interior</h4>
                                            <a href="#">MORE DETAILS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-35">
                            <div class="gallery-item">
                                <div class="gallery-image">
                                    <img src="/images/g2.jpg" alt="gallery-2" width="100%"> 
                                    <div class="overlay">
                                        <div class="overlay-content text-center">
                                            <h4>Ambient interior</h4>
                                            <a href="#">MORE DETAILS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-35">
                            <div class="gallery-item">
                                <div class="gallery-image">
                                    <img src="/images/g3.jpg" alt="gallery-3" width="100%"> 
                                    <div class="overlay">
                                        <div class="overlay-content text-center">
                                            <h4>Ambient interior</h4>
                                            <a href="#">MORE DETAILS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-65">
                            <div class="gallery-item">
                                <div class="gallery-image">
                                    <img src="/images/g4.jpg" alt="gallery-4" width="100%">
                                    <div class="overlay">
                                        <div class="overlay-content text-center">
                                            <h4>Lavendar ambient interior</h4>
                                            <a href="#">MORE DETAILS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <!--gallery-end-->
        <!--feature-start-->
        <main>
            <section class="feature">
                <div class="background">
                    <div class="container">
                        <div class="feature-title text-center">
                            <h2>Some Features that Made us Unique</h2>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                        <div class="row">
                            <div class="w-3">
                                <a href="#" class="feature-btn">
                                    <div class="box">
                                        <div class="feature-content">
                                            <div class="feature-heading d-flex align-center">
                                                <i class="fa-regular fa-user"></i>
                                                <h3>Expert Technicians</h3>
                                            </div>
                                            <p>   
                                                Computer users and programmers have becom 
                                                so accustomed to using Windows, even for 
                                                the changing.
                                            </p>
                                        </div> 
                                    </div>
                                </a>
                            </div>
                            <div class="w-3">
                                <a href="#" class="feature-btn">
                                    <div class="box">
                                        <div class="feature-content">
                                            <div class="feature-heading d-flex align-center">
                                                <i class="fa-brands fa-windows"></i>
                                                <h3>Professional Service</h3>
                                            </div>
                                            <p>   
                                                Finding the perfect learning tool for Flash 
                                                is a daunting task to any novice web developer.
                                                One can find help.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="w-3">
                                <a href="#" class="feature-btn">
                                    <div class="box">
                                        <div class="feature-content">
                                            <div class="feature-heading d-flex align-center">
                                                <i class="fa-solid fa-envelope"></i>
                                                <h3>Great Support</h3>
                                            </div>
                                            <p>   
                                                While most people enjoy casino ambling, sports
                                                betting, lottery and bingo playing for the fun
                                                and excitement.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="w-3">
                                <a href="#" class="feature-btn">
                                    <div class="box"> 
                                        <div class="feature-content">
                                            <div class="feature-heading d-flex align-center">
                                                <i class="fa-solid fa-kitchen-set"></i>
                                                <h3>Technical Skills</h3>
                                            </div>
                                            <p>
                                                “The moment you think of buying a Web Hosting
                                                Plan, you know one thing – So many choices, 
                                                which one to choose.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="w-3">
                                <a href="#" class="feature-btn">
                                    <div class="box">
                                        <div class="feature-content">
                                            <div class="feature-heading d-flex align-center">
                                                <i class="fa-regular fa-gem"></i>
                                                <h3>Highly Recomended</h3>
                                            </div>
                                            <p>
                                                Many conventional colleges and universities
                                                are now offering online DVD repair courses, 
                                                which are the exact same.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="w-3">
                                <a href="#" class="feature-btn">
                                    <div class="box">
                                        <div class="feature-content">
                                            <div class="feature-heading d-flex align-center">
                                                <i class="fa-solid fa-message"></i>
                                                <h3>Positive Reviews</h3>
                                            </div>
                                           <p>
                                                So you have your new digital camera and clicking 
                                                away to glory anything and everything in sight. 
                                                Now you want.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--feature-end-->
        <!--review-start-->
            <main>
                <section class="review">
                   <div class="container">
                       <div class="row justify-center">
                           <div class="review-title text-center">
                               <h2>Testimonial from our Clients</h2>
                               <p>Who are in extremely love with eco friendly system.</p>
                           </div>
                           <div class="row">
                               <div class="w-2">
                                   <a href="#" class="review-btn d-flex">
                                       <div class="review-image">
                                           <img src="/images/sreview-1.png" alt="review">
                                       </div>
                                       <div class="review-content">
                                            <p>
                                                Hypnosis quit smoking methods maintain caused quite
                                                world over the last two decades. There is a lot of 
                                                argument pertaining to
                                            </p>
                                            <h3>Lina Harrington</h3>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                    </a>
                               </div>
                               <div class="w-2">
                                    <a href="#" class="review-btn d-flex">
                                        <div class="review-image">
                                            <img src="/images/sreview-2.png" alt="review">
                                        </div>
                                        <div class="review-content">
                                            <p>
                                                Accessories Here you can find the best computer 
                                                accessory for your laptop, monitor, printer, scanner, 
                                                speaker, projector, hardware.
                                            </p>
                                            <h3>Mark Alviro Wiens</h3>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill other"></i>
                                            <i class="ri-star-fill"></i>
                                        </div>
                                    </a>
                                </div>
                           </div>
                       </div>
                   </div> 
                </section>
            </main>
        <!--review-end-->
        <!--banner-2 start-->
            <main>
               <div class="container">
                    <section class="banner-2 d-flex justify-center text-center align-center">
                        <div class="banner-2-content">
                            <h2>Looking for a<br/>quality and affordable interior design?</h2>
                            <p>
                                inappropriate behavior is often laughed off as “boys will 
                                be boys,” women face higher conduct standards especially in
                                the workplace.
                            </p>
                            <a href="#">REQUEST QUOTE NOW</a>
                        </div>
                    </section>
               </div>
            </main>
        <!--banner-2-end-->
        <!--exhibition-start-->
            <main>
                <section class="exhibition"> 
                    <div class="container">
                        <div class="row justify-center">
                            <div class="exhibition-title text-center">
                                <h2>Ongoing Exhibitions from the scratch</h2>
                                <p>Who are in extremely love with eco friendly system.</p>
                            </div>
                            <div class="row">
                                <div class="w-3">
                                    <div class="exhibition-body">
                                        <div class="exhibition-image">
                                            <img src="/images/e1.jpg" alt="Exhibitions">
                                        </div>
                                        <div class="exhibition-content">
                                            <div class="travel d-flex">
                                                <a href="#">Travel</a>
                                                <a href="#">Life Style</a>
                                            </div>
                                            <div class="d-flex justify-start">
                                                <a href="#">Low Cost Advertising</a>
                                            </div>
                                            <p>
                                                Acres of Diamonds… you’ve read the famous story, 
                                                or at least had it related to you. A farmer.
                                            </p>
                                            <span>31 January,2018</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-3">
                                    <div class="exhibition-body">
                                        <div class="exhibition-image">
                                            <img src="/images/e2.jpg" alt="Exhibitions">
                                        </div>
                                        <div class="exhibition-content">
                                            <div class="travel d-flex">
                                                <a href="#">Travel</a>
                                                <a href="#">Life Style</a>
                                            </div>
                                            <div class="d-flex justify-start">
                                                <a href="#">Creative Outdoor Ads</a>
                                            </div>
                                            <p>
                                                Acres of Diamonds… you’ve read the famous story, 
                                                or at least had it related to you. A farmer.
                                            </p>
                                            <span>31 January,2018</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-3">
                                    <div class="exhibition-body">
                                        <div class="exhibition-image">
                                            <img src="/images/e3.jpg" alt="Exhibitions">
                                        </div>
                                        <div class="exhibition-content">
                                            <div class="travel d-flex">
                                                <a href="#">Travel</a>
                                                <a href="#">Life Style</a>
                                            </div>
                                            <div class="d-flex justify-start">
                                                <a href="#">It's Classified How To Utilize Free</a>
                                            </div>
                                            <p>
                                                Acres of Diamonds… you’ve read the famous story, 
                                                or at least had it related to you. A farmer.
                                            </p>
                                            <span>31 January,2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        <!--exhibition-end-->
        <!--logo-start-->
        <section class="brand">
            <div class="container">
                <div class="row">
                    <div class="w-5">
                        <a href="#"> <img src="/images/t1.png" alt=""> </a>
                    </div>
                    <div class="w-5">
                        <a href="#"> <img src="/images/t2.png" alt=""> </a>
                    </div>
                    <div class="w-5">
                        <a href="#"> <img src="/images/t3.png" alt=""> </a>
                    </div>
                    <div class="w-5">
                        <a href="#"> <img src="/images/t4.png" alt=""> </a>
                    </div>
                    <div class="w-5">
                        <a href="#"> <img src="/images/t5.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </section>
        <!--logo-end-->
        <!--footer-start-->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="w-45">
                            <div class="footer-1">
                                <h3>About Us</h3>
                                <p>If you own an Iphone, you’ve probably already worked out how much fun it is 
                                    to use it to watch movies-it has that.<br/><br/>Copyright ©2023 All rights 
                                    reserved | This template is made with <i class="ri-heart-line"></i>by
                                <a href="#">Colorlib</a>
                                </p>
                             </div>
                        </div>
                        <div class="w-35">
                            <div class="footer-1">
                                <h3>Newsletter</h3>
                                <p>Stay update with our latest</p>
                                <div class="input-box">
                                    <input type="text" placeholder="Email Address" />
                                    <i class="fa-solid fa-arrow-right-long"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-20">
                            <div class="footer-2">
                                <h3>Follow Us</h3>
                                <p>Let us be social</p>
                                <div class="social-media">
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-dribbble"></i></a>
                                    <a href="#"><i class="fa-brands fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        <!--footer-end-->
    </body>
</html>